@import url('https://fonts.googleapis.com/css?family=Signika+Negative');

body {
    background-color: #F2F2F3;
}

.maps-form {
    padding: 10px;
}

.maps-button {
        font-family: 'Signika Negative', sans-serif;
        color: #ffffff;
        background-color: #28ABE2;
}

.full-width-image {
    width: 100%;
    padding-bottom: 10px;
}
.page-header {
	font-family: 'Signika Negative', sans-serif;
	text-align: center;
}
.container {
	padding-bottom: 10px;
}